header {
  background-color: #562b81;
}

h1,
h2,
h3,
label,
a {
  font-family: "Proza Libre", sans-serif;
}

input,
textarea,
button,
p {
  font-family: "Open Sans", sans-serif;
  padding: 5px;
}

h1 {
  font-size: 25px;
  color: white;
}

.image {
  object-fit: cover;
  width: 100%;
}

label {
  font-weight: bold;
}

input {
  height: 40px;
}

.border-color {
  min-width: 100%;
  border-color: #c7c7c7;
  border-style: solid;
  border-radius: 5px;
}

.button-save,
.button-new {
  text-align: center;
  border-width: medium;
  font-size: large;
  border-style: solid;
  color: white;
  background-color: #562b81;
  border-color: #562b81;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: 0.35s;
}

.button-save:hover,
.button-new:hover {
  background-color: white;
  border-style: solid;
  border-color: #562b81;
  color: #562b81;
}

.button-save:active,
.button-new:active {
  color: white;
  background-color: red;
  box-shadow: 2px 2px 5px red;
  border-color: red;
  transition-duration: 0.25s;
}

body {
  background-color: #f0f0f0;
}

.title,
.url,
.notes {
  padding: 0 0 10px;
}

.url,
.notes {
  padding-top: 10px;
}

.btn {
  margin-top: 30px;
  display: flex;
  justify-content: end;
  min-width: 100%;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.image-entry {
  padding-bottom: 10px;
}

.title-entry {
  padding: 0;
  font-size: 30px;
}

.notes {
  margin-top: 0;
}

h3 {
  text-align: center;
  font-weight: 500;
}

.nav-top {
  padding-top: 20px;
}

.entry-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.entries-text {
  color: white;
  font-weight: lighter;
  padding-left: 20px;
}

.clm-hlf {
  width: auto;
}

a {
  text-decoration: none;
}

label,
i.fa-pencil {
  display: flex;
  justify-content: space-between;
}

i.fa-pencil {
  color: #562b81;
  cursor: pointer;
}

i.fa-pencil:hover {
  animation: bounce 0.5s;
}

i.fa-pencil:active {
  color: red;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.button-delete {
  border-style: none;
  text-decoration: underline;
  font-size: large;
  color: #dc2626;
}

.button-delete:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  font-weight: bold;
  background-color: #fefefe;
  padding: 10px;
  max-width: 300px;
  text-align: center;
  font-size: small;
  border-radius: 5px;
}

.confirm-cancel {
  display: flex;
  justify-content: space-between;
}

#cancel-delete,
#confirm-delete {
  font-size: medium;
  border-radius: 5px;
  text-transform: uppercase;
  border: transparent;
  cursor: pointer;
}

#cancel-delete {
  background-color: #b6b6b6;
}

#cancel-delete:hover {
  color: white;
  border: solid 0 white;
}

#cancel-delete:active {
  color: black;
}

#confirm-delete {
  background-color: #dc2626;
  color: white;
}

#confirm-delete:hover {
  color: #dc2626;
  background-color: white;
  border: solid 0 #dc2626;
}

#confirm-delete:active {
  background-color: #dc2626;
  color: white;
  border: solid 0 #dc2626;
}

.btn-save {
  display: flex;
  justify-content: end;
}

.edit-delete-save {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.new-save {
  display: flex;
  justify-content: end;
  padding: 0;
  padding-top: 10px;
}
