header {
  background-color: #562b81;
}

h1,
h2,
h3,
label,
a {
  font-family: "Proza Libre", sans-serif;
}

input,
textarea,
button,
p {
  font-family: "Open Sans", sans-serif;
  padding: 5px;
}

h1 {
  font-size: 25px;
  color: white;
}

.image {
  object-fit: cover;
  width: 100%;
}

label {
  font-weight: bold;
}

input {
  height: 40px;
}

input,
textarea {
  min-width: 100%;
  border-color: #c7c7c7;
  border-style: solid;
  border-radius: 5px;
}

button,
.button {
  text-align: center;
  border-width: medium;
  font-size: large;
  border-style: solid;
  color: white;
  background-color: #562b81;
  border-color: #562b81;
  border-radius: 5px;
  padding: 10px;
  width: 75px;
  cursor: pointer;
  transition: 0.35s;
}

button:hover,
.button:hover {
  background-color: white;
  border-style: solid;
  border-color: #562b81;
  color: #562b81;
}

button:active,
.button:active {
  color: white;
  background-color: red;
  box-shadow: 2px 2px 5px red;
  border-color: red;
  transition-duration: 0.25s;
}

body {
  background-color: #f0f0f0;
}

.title,
.url,
.notes {
  padding: 0 0 10px;
}

.url,
.notes {
  padding-top: 10px;
}

.btn {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  min-width: 100%;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.image-entry {
  padding-bottom: 10px;
}

.title-entry {
  padding: 0;
  font-size: 30px;
}

.notes {
  margin-top: 0;
}

h3 {
  text-align: center;
  font-weight: 500;
}

.nav-top {
  padding-top: 20px;
}

.entry-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}

.entries-text {
  color: white;
  font-weight: lighter;
  padding-left: 20px;
}

.clm-hlf {
  width: auto;
}

a {
  text-decoration: none;
}
